# Package Files #
*.jar
*.war
*.ear
*.iml
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.gitignore

out/
spider/spider.iml
spider/target/
storage/target/
web/target/
/target/
#pom.xml
#spider/
/.idea/
novel-spider-core/target/classes/com/
novel-spider-core/target/generated-sources/
novel-spider-core/target/generated-test-sources/
novel-spider-core/target/maven-archiver/
novel-spider-core/target/maven-status/
novel-spider-core/target/test-classes/
novel-spider-web/target/
